<%= form_with(model: bookmark, local: true) do |form| %>
  <% if bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
      <% bookmark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="box">
    <div class="eb_label">
      <%= form.label :title %>
    </div>
    <div class="eb_field" style="margin-left: 20px;">
      <%= form.text_field :title, class: "new_bm_textbox" %>
    </div>
  </div>

  <div class="box">
    <div class="eb_label">
      <%= form.label :url %>
    </div>
    <div class="eb_field" style="margin-left: 30px;">
      <%= form.text_field :url, class: "new_bm_textbox" %>
    </div>
  </div>

  <div class="box">
    <div class="eb_label" style="vertical-align: top;">
      <%= form.label :desc %>
    </div>
    <div class="eb_field" style="margin-left: 13px;">
      <%= form.text_area :desc, class: "new_bm_textarea" %>
    </div>
  </div>

  <div class="box">
    <div class="eb_label">
      <%= form.label :group %>
    </div>
    <div class="eb_field" style="margin-left: 5px;">
      <%= collection_select(:bookmark, :group_id, current_user.get_groups, :id, :title, prompt: true) %>
    </div>
  </div>

  <div class="break" style="height: 15px;"></div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
