<div id="bm_page_top_container_a">
  <%= link_to "&larr; Back".html_safe, user_groups_path %>
  <%= link_to new_bookmark_path do %>
    <button class="btn_green medium">Create a new bookmark</button>
  <% end %>
</div>

<div id="bm_page_top_container_b">

  <div id="bm_page_functional_top_row_left">

    <% if @showing_archived %>

      <div id="bm_page_top_cell_a">Archived (<%= @bookmarks.count %>)</div>

      <div class="break" style="height: 15px;"></div>

      <div id="bm_page_top_cell_b">
        <%= link_to bookmark_path(@group) do %>
          <button class="btn_blue medium">Hide archived</button>
        <% end %>
      </div>
    
    <% else %>

      <div id="bm_page_top_cell_a">Bookmarks (<%= @bookmarks.count %>)</div>

      <div class="break" style="height: 15px;"></div>

      <div id="bm_page_top_cell_b">
        <%= link_to bookmark_path(@group, :show => "archived") do %>
          <button class="btn_blue medium">Show archived</button>
        <% end %>
      </div>

    <% end %>

  </div>

  <div id="bm_page_functional_top_row_right">

    <div id="bm_page_top_cell_c">
      <div class="db_ddl_label">Group: </div>
      <%= collection_select(:bookmark, :group_id, current_user.get_groups, :id, :title, 
        options = { :selected => @group.id },
        html_options = { :onchange => "change_group(this.value);" }) %>
    </div>

    <div class="break" style="height: 15px;"></div>

    <div id="bm_page_top_cell_d">
      <div class="db_ddl_label">Sort by: </div>
      <%= select_tag "sort", options_for_select({ 
            "Name &darr;".html_safe => "name_asc", 
            "Name &uarr;".html_safe => "name_desc", 
            "Created on &darr;".html_safe => "created_asc", 
            "Created on &uarr;".html_safe => "created_desc" 
          }, @sorted_by), 
        :onchange => "sort(this.value);" %>
    </div>

  </div>

</div>

<div id="bm_container_new">
<% @bookmarks.each do |b| %>
  <div class="bm_row">
    <div class="bm_sub_row_a">
      <div class="bm_title_display">
        <%= b.title %>
      </div>
      <div class="bm_created_at_display">
        Created on <%= b.created_at.strftime("%m/%d/%Y") %>
      </div>
    </div>    
    <div class="bm_sub_row_b">
      <%= sanitize( link_to(nil, b.url, target: "_blank" ), attributes: %w(href target) ) %>
    </div>
    <div class="bm_sub_row_c">
      <%= b.desc %>
    </div>
    <div class="bm_sub_row_d">
      <%= action_row @showing_archived, b %>
    </div>
  </div>
<% end %>
</div>

<%= javascript_tag do %>
var showing_archived = <%= @showing_archived %>;

function change_group(group_id) {
  if (showing_archived) {
    window.location.href = group_id + "?show=archived";
  } else {
    window.location.href = group_id;
  }
}

function sort(by) {
  var group_id = "<%= @group.id %>";

  if (showing_archived) {
    sa_url = "show=archived";
  } else {
    sa_url = "";
  }

  window.location.href = group_id + "?sort=" + by + "&" + sa_url;
}
<% end %>
