<p>Show page</p>

<p>
  <%= collection_select(:bookmark, :group_id, current_user.get_groups, :id, :title, 
    options = { :selected => @group.id },
    html_options = { :onchange => "change_group(this.value);" }) %>
</p>

<table class="u-full-width">
  <thead>
    <tr>
      <th>Title</th>
      <th>URL</th>
      <th>Desc</th>
      <th>Created</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @bookmarks.each do |b| %>
    <tr>
      <td><%= b.title %></td>
      <td><%= b.url %></td>
      <td><%= b.desc %></td>
      <td>Hold</td>
      <td><%= link_to 'Edit', action: "edit", id: b.id %></td>
      <td><a rel="nofollow" data-method="patch" href="/b/<%= b.id %>/archive">Archive</a></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= javascript_tag do %>
function change_group(group_id) {
  window.location.href = group_id;
}
<% end %>
