<div id="bm_page_top_container">

  <% if @showing_archived %>
    <div id="bm_page_top_cell_a">Archived Bookmarks (<%= @bookmarks.count %>)</div>
    <div id="bm_page_top_cell_b"><%= link_to 'Hide archived', bookmark_path(@group) %></div>
  <% else %>
    <div id="bm_page_top_cell_a">Bookmarks (<%= @bookmarks.count %>)</div>
    <div id="bm_page_top_cell_b"><%= link_to 'Show archived', bookmark_path(@group, :show => "archived") %></div>
  <% end %>

  <div id="bm_page_top_cell_c">
    <span>Group: </span>
    <%= collection_select(:bookmark, :group_id, current_user.get_groups, :id, :title, 
      options = { :selected => @group.id },
      html_options = { :onchange => "change_group(this.value);" }) %>
  </div>

  <div id="bm_page_top_cell_d">
    <span>Sort by: </span>
    <%= select_tag "sort", options_for_select({ 
          "Name &darr;".html_safe => "name_asc", 
          "Name &uarr;".html_safe => "name_desc", 
          "Created on &darr;".html_safe => "created_asc", 
          "Created on &uarr;".html_safe => "created_desc" 
        }, @sorted_by), 
      :onchange => "sort(this.value);" %>
  </div>

</div>

<div id="bm_container">
<% @bookmarks.each do |b| %>
  <div id="bm_<%= b.id %>" class="bm_row">
    
    <div id="column_left_<%= b.id %>" class="bm_column_left">
      <div id="bm_title_<%= b.id %>" class="bm_title_display"><%= b.title %></div>
    </div>
    
    <div id="column_right_<%= b.id %>" class="bm_column_right">
      <div id="bm_created_at_80" class="bm_created_at_display">
        Created on <%= b.created_at.strftime("%m/%d/%Y") %>
      </div>
    </div> <!-- column_right_* -->

    <div class="clear"></div>
    
    <div class="break" style="height: 5px;"></div>

    <div id="bm_url_row_<%= b.id %>" class="bm_url_row">
      <%= sanitize( link_to(nil, b.url, target: "_blank" ), attributes: %w(href target) ) %>
    </div>
    
    <div class="break" style="height: 5px;"></div>

    <div class="clear"></div>
    
    <div id="bm_desc_row_<%= b.id %>" class="bm_desc_row">
      <div id="bm_desc_text_<%= b.id %>" class="bm_desc_text">
        <%= b.desc %>
      </div>
    </div>
    
    <div id="action_row_<%= b.id %>" class="bm_action_row">
      <%= action_row @showing_archived, b %>
    </div>

  </div>
<% end %>
</div>

<%= javascript_tag do %>

var showing_archived = <%= @showing_archived %>;

function change_group(group_id) {
  if (showing_archived) {
    window.location.href = group_id + "?show=archived";
  } else {
    window.location.href = group_id;
  }
}

function sort(by) {
  var group_id = "<%= @group.id %>";

  if (showing_archived) {
    sa_url = "show=archived";
  } else {
    sa_url = "";
  }

  window.location.href = group_id + "?sort=" + by + "&" + sa_url;
}

<% end %>
