<p>Show page</p>

<p>
  <%= @group.title %>
</p>

<table class="u-full-width">
  <thead>
    <tr>
      <th>Title</th>
      <th>URL</th>
      <th>Desc</th>
      <th>Created</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @bookmarks.each do |b| %>
    <tr>
      <td><%= b.title %></td>
      <td><%= b.url %></td>
      <td><%= b.desc %></td>
      <td>Hold</td>
      <td><%= link_to 'Edit', action: "edit", id: b.id %></td>
      <td><a rel="nofollow" data-method="patch" href="/b/<%= b.id %>/archive">Archive</a></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= javascript_tag do %>
if (typeof jQuery === 'undefined') {
  console.log("jQuery is NOT available")
} else {
  console.log("jQuery is available")
}
<% end %>
