<div style="width: 90%; margin-left: 10px;">

  <p><%= link_to "&larr; Back to user profile".html_safe, show_user_path %></p>

  <div style="font-size: 1.25rem; font-weight: bold;">User Settings</div>

  <div class="break" style="height: 20px;"></div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="edit_user_profile_row" style="font-size: .85rem; color: red;">
      <%= render "devise/shared/error_messages", resource: resource %>
    </div>

    <div class="edit_user_profile_row">
      <div><%= f.label :email %></div>
      <div>
        <%= f.email_field :email, autofocus: false, autocomplete: "email" %>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="edit_user_profile_row">
      <div><%= f.label :name %></div>
      <div><%= f.text_field :name %></div>
    </div>

    <div class="break" style="height: 15px;"></div>

    <div class="edit_user_profile_row" id="change_password_prompt">
      <div><a id="change_password_link" href="#cp">Update password?</a></div>
      <div>&nbsp;</div>
    </div>

    <div class="edit_user_profile_row" id="change_password_section_1">
      <span class="user_edit_field_message">* If you want to <u>change</u> your password, this is the spot</span>
    </div>


    <div class="edit_user_profile_row" id="change_password_section_2">
      <div><%= f.label :new_password %></div>
      <div><%= f.password_field :password, autocomplete: "new-password" %></div>
    </div>

    <div class="edit_user_profile_row" id="change_password_section_3">
      <div><%= f.label :new_password_confirm %></div>
      <div>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    </div>

    <div class="break" style="height: 50px;"></div>

    <div class="edit_user_profile_row" style="height: auto;">
      <div style="height: auto;">Avatar</div>
      <div style="height: auto;">
        <%= image_tag user_avatar(resource, 100) %>
        
        <div class="break" style="height: 5px;"></div>

        <%= f.file_field :avatar %>
        
        <div class="break" style="height: 12px;"></div>
        
        <%= link_to "Delete photo?", delete_user_avatar_path(resource), 
          method: :delete, data:{ confirm: 'Are you sure?' } %>
        
        <div class="break" style="height: 5px;"></div>

      </div>
    </div>

    <div class="break" style="height: 15px;"></div>

    <div class="edit_user_profile_row">
      <div>
        * <%= f.label :current_password %>
      </div>
      <div>
        <%= f.password_field :current_password, autocomplete: "current-password" %>
          <br />
          <span class="user_edit_field_message">* This is required to make any changes to your profile</span>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Update user settings", class: "submit_button", style: "margin-top: 15px;" %>
    </div>
  <% end %>

  <div class="break" style="height: 50px;"></div>

  <hr />
  <span id="cancel_account_hint">* Looking to cancel your account? Scroll down </span>
  <span style="font-size: .9rem;"><%= "&darr;".html_safe %></span>

  <div class="break" style="height: 525px;"></div>

  <div class="edit_user_profile_row" style="border-top: 2px dotted red;">
    <div style="color: red;">Cancel your account?</div>
  </div>

  <div class="break" style="height: 10px;"></div>

  <div class="edit_user_profile_row">
    <div>
      <%= button_to "Yes, cancel my account", registration_path(resource_name), 
        style: "color: red; font-size: .85rem;", 
        data: { confirm: "Are you sure you want to cancel your account? Your account, login and data will be permanently deleted." }, method: :delete %>
    </div>
  </div>

  <div class="break" style="height: 10px;"></div>

  <div class="edit_user_profile_row">
    <div class="user_edit_field_message" style="clear: both;">
      NOTE: Canceling your account is permanent. Your login and data cannot be restored.
    </div>
  </div>

  <div class="break" style="height: 20px;"></div>

</div>

<%= javascript_tag do %>

var change_password_visible = false;

$(document).ready(
  function() {
    $("#change_password_link").click(function(e) {
      e.preventDefault();
      change_password_ui_toggle();
    });
  }
);

function change_password_ui_toggle(e) {
  if(change_password_visible) {
    $("#change_password_section_3").css("display", "none");
    $("#change_password_section_2").css("display", "none");
    $("#change_password_section_1").css("display", "none");
    $("#change_password_link").html("Update password?");
    change_password_visible = false;
  } else {
    $("#change_password_section_1").css("display", "flex");
    $("#change_password_section_2").css("display", "flex");
    $("#change_password_section_3").css("display", "flex");
    $("#change_password_link").html("Cancel");
    change_password_visible = true;
  }
}
<% end %>
