<p><%= link_to "&larr; Back".html_safe, root_path %></p>

<h3>Sign up</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="login_field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="login_field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="login_field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <span class="user_edit_field_message">(<%= @minimum_password_length %> characters minimum)</span>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="login_field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions" style="margin-top: 20px; margin-bottom: 20px;">
    <%= f.submit "Sign up", class: "submit_button" %>
  </div>
<% end %>

<div>
  <div class="box" style="border: 1px solid red;">
    <div><%= image_tag("achtung.png", size: "35x31", style: "padding: 15px;") %></div>
    <div style="font-size: .9rem">
      IMPORTANT NOTE: The ability to reset your password via email is forthcoming, but has not been 
      implemented yet. So if you sign up, please make sure to remember your email and password!
    </div>
</div>

<!-- <%= render "devise/shared/links" %> -->
