<%= link_to "&larr; Back".html_safe, user_groups_path %>

<h3>Manage this group</h3>

<%= render 'form', group: @group %>

<br />

<%= link_to 'Add a user to this group', new_user_for_group_path(@group) %>

<hr />

<p>Users currently in this group:</p>

<% @users_in_group.each do |u| %>

  <% if @i % 3 == 0 %>
    <div class="box" style="border: 0px dashed black; padding: 5px;">
  <% end %>
    
      <div style="margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
    
        <%= image_tag user_avatar(u, 75) %>
        <br />
    
        <%= u.name %>
        <br />
    
        <span style="font-size: .8rem;">
          <% if u.id != current_user.id %>
            <%= tag.a("Remove", 
                  href: "/g/#{@group.id}/#{u.id}", 
                  rel: "nofollow", 
                  data: {
                    method: "delete", 
                    confirm: "Are you sure you want to remove '#{u.name}' from this group?"}) %>
          <% else %>
            (You)
          <% end %>
        </span>
    
      </div>
      
      <% @i += 1 %>

  <% if @i % 3 == 0 || @i == @users_in_group.count %>
    </div>
  <% end %>

<% end %>
