<br /><br /><br /><br />

<h3>Add User to Group</h3>

<%= form_with(url: add_user_to_group_path(@group)) do |form| %>
<!-- local: true,  -->
  
  <div class="field">
    <%= form.label :email_of_user %>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit "Submit" %>
  </div>

<% end %>

<br />
<%= link_to 'Back', edit_group_path(@group) %>
