<h3>My Groups (<%= @groups.count %>)</h3>

<div id="groups_container">

<% @groups.each do |g| %>
  <div id="group_<%= g.id %>" class="group_row">
  
    <div id="title_<%= g.id %>" class="group_title">
      <%= link_to g.title, bookmark_path(g), title: "Click to view this group of bookmarks" %> 
      <span id="group_user_count_<%= g.id %>" 
        class="group_user_count">(<%= pluralize(@group_user_counts[g.id], "member") %>, 
        <%= pluralize(@group_bookmark_counts[g.id], "bookmark") %>)</span>
    </div>
    
    <div id="created_at_<%= g.id %>" 
      class="group_created_at">Created on <%= g.created_at.strftime("%m/%d/%Y") %></div>

    <div id="group_ownership_<%= g.id %>" class="group_ownership">
        <%= group_ownership_text g, current_user %>
    </div>

    <div id="edit_<%= g.id %>" class="group_btn_edit"><%= manage_group_button g, current_user %></div>

  </div>
<% end %>

</div>
