<h3>My Groups (<%= @groups.count %>)</h3>

<div id="groups_container">

<% @groups.each do |g| %>
  <div id="group_<%= g.id %>" class="group_row">
  
    <div id="title_<%= g.id %>" class="group_title">
      <%= link_to g.title, :controller => 'bookmarks', :action => 'show', :id => g.id %>
    </div>
    
    <div id="created_at_<%= g.id %>" class="group_created_at">Created on <%= g.created_at.strftime("%m/%d/%Y") %></div>
    
    <div id="edit_<%= g.id %>" class="group_edit"><%= edit_group_link current_user, g %></div>

    <div id="count_<%= g.id %>" class="group_user_count"><%= @group_user_counts[g.id] %> users in this group</div>

  </div>
<% end %>

</div>
