<div>
  <%= link_to '&larr; Home'.html_safe, root_path %>
</div>

<h3>&nbsp;User Profile</h3>

<div class="user_profile_row">
  <%= image_tag user_avatar(current_user, 100) %>
</div>

<div class="user_profile_row">
  <span>Name:</span>
  <span><%= current_user.name %></span>
</div>

<div class="user_profile_row">
  <span>Email:</span>
<% if current_user.demo %>
  <span>no-reply@bookmarksquirrel.com</span>
<% else %>
  <span><%= current_user.email %></span>
<% end %>
</div>

<div class="user_profile_row">
  <span>Created:</span>
  <span><%= current_user.created_at.strftime("%B %d, %Y") %></span>
</div>

<div class="user_profile_row">
  <span>Last updated:</span>
  <span><%= current_user.updated_at.strftime("%B %d, %Y") %></span>
</div>

<div class="break" style="height: 10px;"></div>

<div>
  <%= link_to edit_user_registration_path do %>
    <button class="btn_blue large">Edit your profile</button>
  <% end %>
</div>

<% if @is_admin %>
  <div>
    <br />
    <h4>Admin functions</h4>
    <ul>
      <li>
        <%= link_to "Purge expired demo users", demo_purge_path, method: "delete", rel: "nofollow", data: { confirm: 'Are you sure?' } %>
      </li>
    </ul>
  </div>
<% end %>
