<br /><br />

<h3>User Profile</h3>

<div>
  <%= image_tag user_avatar(current_user, 100) %>
  <br />
</div>

<div>
  User ID: <%= current_user.id %>
</div>

<div>
  Name: <%= current_user.name %>
</div>

<div>
  Email: <%= current_user.email %>
</div>

<div>
  Account created: <%= current_user.created_at %>
</div>

<div>
  Account last updated: <%= current_user.updated_at %>
</div>

<% if !current_user.demo? %>
  <div>
    <%= link_to 'Edit', edit_user_registration_path %>
  </div>
<% end %>

<div>
  <%= link_to 'Home', root_path %>
</div>

<% if @is_admin %>
  <div>
    <br />
    <h4>Admin functions</h4>
    <ul>
      <li>
        <%= link_to "Purge expired demo users", demo_purge_path, method: "delete", rel: "nofollow", data: { confirm: 'Are you sure?' } %>
      </li>
    </ul>
  </div>
<% end %>
