<p>Homepage</p>

<% if current_user %>
Welcome, <%= current_user.name %>!
<% end %>

<br />
<%= image_tag user_avatar(current_user, 50) if !current_user.nil? %>

<br />
<br />
<%= login_helper %>
<br />
<br />
<%= link_to 'Create a new group', new_group_path %>
<br />
<br />
You are a member of <%= link_to "#{@group_count} groups", user_groups_path %>.
<br />
<br />
For the merely curious, you can also sign in with a temporary
  <%= link_to "demo account", demo_init_path, method: "post", rel: "nofollow" %>
