<br /><br />

<% if current_user %>
  Welcome, <%= current_user.name %>!
<% end %>

<br />
<%= link_to(image_tag(user_avatar(current_user, 100)), show_user_path, alt: current_user.name) if !current_user.nil? %>

<br />
<% if current_user %>

  <p>
    How to use this app: <br />
    <ul>
    <li><i>Groups</i> are collections of bookmarks.<br /></li>
    <li>Groups can have one or more members.<br /></li>
    <li>By adding members to our groups, we can share bookmarks.</li>
    </ul>
  </p>
  <p>
    That's it, in a nutshell :)
  </p>

  Currently:
  <ul>
    <li>You are the owner of <%= pluralize(@group_ownership_count, 'group') %></li>
    <li>In addition, you are a member of <%= pluralize(@group_membership_count, 'group') %> 
    belonging to someone else.</li>
  </ul>
  <%= link_to "Go to my groups", user_groups_path %>
  <br />
  or
  <br />
  <%= link_to 'Create a new group', new_group_path %>
  <br />
<br />
<% end %>

<%= login_helper %>
<br />
<br />

<% if !current_user %>
  For the curious, you can also sign in with a temporary
    <%= link_to "demo account", demo_init_path, method: "post", rel: "nofollow" %>
    and have a look around
<% end %>
