<p>Homepage</p>

<% if current_user %>
Welcome, <%= current_user.name %>!
<% end %>
<br />
<br />
<%= login_helper %>
<br />
<br />
<%= link_to 'Create a new group', new_group_path %>
<br />
<br />
You currently have <%= @group_count %> groups.
<br />
<br />
<%= link_to 'View your groups', user_groups_path %>
