<!DOCTYPE html>
<html>
  <head>
    <title>BookmarkSquirrel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'base', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="fixed_header" class="header">
      <div id='functional_row_top'>
          <div id="header_cell_a" class="header_cell_a">
            <% if !current_user.nil? %>
              <%= link_to user_name(current_user.name), show_user_path %>
            <% else %>
              <%= link_to 'Login', new_user_session_path %>
            <% end %>
          </div>

          <div id="header_cell_b" class="header_cell_b" style="border: 0px solid red; vertical-align: middle;">
            <a href='<%= root_path %>' title="Home">
              <div style="float: left; overflow: hidden; width: 35%; border: 0px solid green;">
                <%= image_tag("bookmark-squirrel-v1-trans.png", size: "55x80", alt: "Bookmark Squirrel") %>
              </div>
              <div style="overflow: hidden; border: 0px solid green; vertical-align: middle;">
                <div class="break" style="height: 22px;"></div>
                <div id='mastheadTitle'>Bookmark Squirrel</div>
                <div id='mastheadTagline'>Bookmark sharing for hoarders</div>
              </div>
            </a>
            <!-- <div id='mastheadTagline'>Collaborative, sharable bookmark hoarding</div> -->
          </div>
          
          <div id="header_cell_c" class="header_cell_c">
            <% if !current_user.nil? %>
              <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
            <% end %>
          </div>

      </div> <!-- functional_row_top -->
    </div>

    <div id="outer_container">

      <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "flash #{key}" %>
      <% end %>
      
      <%= yield %>
    </div> <!-- /content container -->

    <div id="fixed_footer" class="footer">
        <div id='functional_row_bottom'>
            <div id="footer_cell_a" class="footer_cell_a">
                &nbsp;
            </div>

            <div id="footer_cell_b" class="footer_cell_b">
                <div id="copyright">
                  &copy; <%= Time.now.year %> <a href='https://technophobic.org'>Technophobic Software</a>
                </div>
            </div>
            
            <div id="footer_cell_c" class="footer_cell_c">
                &nbsp;
            </div>

            <!-- <br style="clear: left;" /> -->

        </div> <!-- functional_row_bottom -->
    </div>

  </body>
</html>
